Django==4.2.9
djangorestframework==3.14.0
django-cors-headers==4.3.1
Pillow==10.1.0
pyfcm==1.0.4
uuid==1.30
django-storages==1.14.2
python-dotenv==1.0.0

psycopg2-binary==2.9.9
# Pour les environnements de développement
django-debug-toolbar==4.2.0